<!-- timer -->
<section>
  <div class="container timer__container">
    <div class="timer is-hidden">
      <div class="timer__items js-timer-items">
        <div class="timer__item js-timer__hours">00</div>
        <div class="timer__item js-timer__minutes">00</div>
        <div class="timer__item js-timer__seconds">00</div>

        <span class="js-timer__timezone timezone"></span>
      </div>
    </div>

    <!-- buttons -->
    <div class="buttons__wrapper js-buttons__wrapper">
      <button class="show-clock__btn js-show" type="button">
        Відобразити годинник
      </button>
      <button class="hide-clock__btn js-hide is-hidden" type="button">
        Приховати годинник
      </button>
      <button class="change-format__btn js-change is-hidden" type="button">
        Прибрати PM/AM
      </button>
    </div>
  </div>
</section>